.header{
    /* width:"100%";
    object-fit:'fit';
    padding:10px;
    
    margin:50px; */
    /* position:relative;
    display: flex;
    justify-content: center;
    align-items:flex-start;
   
    
    background-color:#3e7873; */
    width:100%;
    border-radius:10px ;
   
}


.carousel {
    width: 100%;
    padding: 5%;
    background-color: #3e467800;
    position: relative;
  }
  
  .customButtonGroup {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
padding-left: 3%;
padding-right: 3%;

  }
  
  .customButtonLeft,
  .customButtonRight {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .customButtonImage {
    width: 30px; /* Adjust size as needed */
  }
  
  .customButtonLeft {
    left: 10px;
  }
  
  .customButtonRight {
    right: 10px;
  }
  
  .customButtonLeft:hover,
  .customButtonRight:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /*media*/
@media (max-width: 737px){

    
  }